@model VehicleFeedbackServiceModel

@{
    ViewBag.Title = "Leave Feedback";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<h3 class="text-primary"><b>Thank you</b> for choosing our services! Please leave your feedback:</h3>
<form asp-controller="Vehicle" asp-action="LeaveFeedback" method="post">
    <div class="col-md-6">
        <div class="card-body align-content-center">
            <img class="card-img-top" src="@Model.ImageUrl" alt="Vehicle Image">
            <div class="card-body text-center" style="width:fit-content">
                <h4>@Model.Model</h4>
                <h6>
                    Rating: @for (int i = 0; i < @Model.Rating; i++)
                    {
                        <span style="color: goldenrod">
                            <i class="fas fa-star fa-fade"></i>
                        </span>
                    }
                    <b>@Model.Rating /6</b>
                </h6>
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.Id" />
                    <div class="form-group">
                        <b><label>Please give your vote:</label></b>
                        <input asp-for="Vote" class="form-control">
                        <span asp-validation-for="Vote" class="small text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <b><label>Here you can give your feedback:</label></b>
                        <textarea asp-for="Feedback" class="form-control" placeholder="Please write your feedback..."></textarea>
                        <span asp-validation-for="Feedback" class="small text-danger"></span>
                    </div>
                    <div class="text-center mt-3">
                        <input class="btn btn-primary mt-6" type="submit" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}