@model VehicleParkDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>
<h3>Wellcome to @Model.Name!</h3>
<h4>@Model.Name is your best choice of this area!</h4>
<div class="card" style="flex-flow:column">
    <div class="card-body">
        <h5 class="card-title">Park Info</h5>
        <p class="card-text">Park Name:  @Model.Name</p>
        <p class="card-text">Email:  @Model.Email</p>
        <p class="card-text">Phone Number: @Model.Phone</p>
        <p class="card-text">Adress: @Model.Adress</p>
        <p class="card-text">Phone Number: @Model.Phone</p>
         <img class="d-block w-100" style="height:500px"
             src="@Model.ImageUrl" alt="@Model.Name">
        <p class="card-text">Description: @Model.Description</p>
    </div>
</div>
<h2>Login to find all our vehicles for a rent!</h2>
