@model VehicleParkDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>
<h3>Welcome to @Model.Name!</h3>
<h4>@Model.Name is your best choice of this area!</h4>
<div class="card" style="flex-flow:column">
    <div class="card-body">
        <h4 class="card-title">Park Info:</h4>
        <h5 class="card-text">Email: <b>@Model.Email</b></h5>
        <h5 class="card-text">Phone Number: <b>@Model.Phone</b></h5>
        <h5 class="card-text">Adress: <b>@Model.Adress</b></h5>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="1600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Bulgaria @Model.Adress &t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2yu.co">2yu</a><br><style>
                                                                                                                                                                                                                                                                                     .mapouter {
                                                                                                                                                                                                                                                                                         position: relative;
                                                                                                                                                                                                                                                                                         text-align: right;
                                                                                                                                                                                                                                                                                         height: 510px;
                                                                                                                                                                                                                                                                                         width: 1200px;
                                                                                                                                                                                                                                                                                     }</style><a href="https://embedgooglemap.2yu.co">html embed google map</a><style>
                                                                                                                                                                                                                                                                                                                                                                   .gmap_canvas {
                                                                                                                                                                                                                                                                                                                                                                       overflow: hidden;
                                                                                                                                                                                                                                                                                                                                                                       background: none !important;
                                                                                                                                                                                                                                                                                                                                                                       height: 510px;
                                                                                                                                                                                                                                                                                                                                                                       width: 770px;
                                                                                                                                                                                                                                                                                                                                                                   }</style>
            </div>
        </div>
        <p></p>
        <h5 class="card-text">Description: <b>@Model.Description</b></h5>
        @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
        {
           <a asp-area="" class="btn btn-primary align-self-lg-center" asp-controller="VehiclePark" asp-action="All" asp-route-id="@Model.Id">Find all our vehicles for rent</a>
        }
    </div>
</div>


