@model VehicleParkDetailsModel

@{
    ViewBag.Title = "Vehicle Park Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Park Info</h5>
        <p class="card-text">Park Name:  @Model.Name</p>
        <p class="card-text">Email:  @Model.Email</p>
        <p class="card-text">Phone Number: @Model.Phone</p>
        <p class="card-text">Adress: @Model.Adress</p>
        <p class="card-text">Phone Number: @Model.Phone</p>
         <img class="d-block w-100" style="height:500px"
             src="@Model.ImageUrl" alt="@Model.Name">
        <p class="card-text">Description: @Model.Description</p>
    </div>
</div>