@model IEnumerable<VehicleParkDetailsModel>
@{
    ViewData["title"] = "Home Page";
    bool first = true;
}

<h1>Wellcome to our Mobility System</h1>
<h2>Using this platform you can rent the vehicle you need</h2>
@if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
{
    <h3>Select your most convinient Vehicle Park:</h3>
}
else
{
    <h3>Login to find all our vehicles for a rent!</h3>
}

<div class="mb-5"></div>

<div id="carouselexamplecontrols" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var park in Model)
        {
            <div class="carousel-item @(first ? "active" : string.Empty)">

                <img class="d-block w-100" style="height:500px"
                 src="@park.ImageUrl" alt="@park.Name">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        @if (this.User?.Identity!=null && this.User.Identity.IsAuthenticated)
                        {
                           <a class="btn btn-primary btn-lg" asp-controller="VehiclePark" asp-action="Details"
                       asp-route-id="@park.Id"> @park.Name</a>
                        }        
                    </h5>
                </div>
            </div>

            first = false;
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>




