@model TheBillViewModel

@{
    ViewBag.Title = "Bill Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="card mb-6">
            <div class="card-body text-center">
                <h3 class="text-primary">Renter: <b>@Model.Title</b></h3>
                <h3 class="text-primary">Model: <b>@Model.Model</b></h3>
                <h4 class="text-primary">Reg. number: <b>@Model.RegistrationNumber</b></h4>
                <h4>Rented on: <b>@Model.MomenOfRent</b></h4>
                <h4>Lived on: <b>@Model.MomenOfLeave</b></h4>
                <h4>Rented period: <b>@Model.RentedPeriod.ToString("f2") hours</b></h4>
                <h4>
                    Price Per Hour:
                    <b>@String.Format("{0:f2}", Model.PricePerHour) BGN</b>
                </h4>
                <br />
                <h3 class ="text-primary">Total Price: <b>@Model.TotalPrice BGN</b></h3>
            </div>
        </div>
    </div>
</div>